.menu{
  font-size: 25px;
  padding: 0px;
  margin:0px;
  display: inline-block;
}
.menu li{
  float:left;
  list-style:none;
}
.menu li a{
  padding: 20px 15px;
  display: inline-block;
  text-decoration:solid;
  color: #616161;
}
.menu li:hover a{
    background: #333;
    color: #fff;
}
.menu li ul{
   margin: 0;
   padding: 0;
}